body {
  background-color: #ffffff;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.login-container {
  padding: 100px;
  flex: 1;
}

.login-image {
  background: url("https://raw.githubusercontent.com/rodfreitas-devel/pi_univesp_grupo14/main/client/Assets/talentum-rh.jpeg")
    no-repeat center center;
  background-size: cover;
  height: 400px;
  width: 600px;
  border-radius: 20px;
}

.btn-custom {
  background-color: #90ee90;
  border: none;
}

.btn-custom:hover {
  background-color: #7edc7e;
}

footer {
  background-color: purple;
  color: white;
  text-align: center;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer p {
  margin: 0;
}
