body {
  background-color: #fff;
}

.purple-bar {
  background-color: purple;
  height: 10px;
}

.navbar-custom {
  border-bottom: 1px solid;
  background-color: #fefae0;
}

.btn-dropdown-green {
  background-color: #1f4d2e;
  color: white;
  border: none;
}

.btn-dropdown-green:hover {
  background-color: #163a23;
  color: white;
}

.badge {
  background-color: purple;
  color: white;
}
