

/* TODO: alinhar formulário à direita */


/* remove espaçamentos padrão */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ocupa toda a altura da tela */
body {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

/* container principal */
#container {
    flex: 1; /* ocupa o espaço disponível */
    display: flex;
}

/* lado esquerdo (logo) */
#logoProjeto {
    width: 50%;
    background-color: #222;
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* lado direito (formulário) */
#formularioLogin {
    width: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* formulário */
form {
    display: flex;
    flex-direction: column;
    width: 250px;
}

/* footer fixo no rodapé */
footer {
    background-color: #111;
    color: white;
    text-align: center;
    padding: 10px;
}
