<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <!-- título sugestivo, para eu não me perder entre os arquivos, quando for para produção
         poderão ser padronizados -->
        <title>login</title>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <div id="container">
        <div id="logoProjeto">
            <h1>LOGO AQUI</h1>
        </div>
        <div id="formularioLogin">
            <form action="#" method="post">
                <label for="usuario">Usuário</label><br>
                <input type="text" id="usuario" name="usuario"><br><br>

                <label for="senha">Senha</label><br>
                <input type="password" id="senha" name="senha"><br><br>

                <button type="submit">Entrar</button>
            </form>
        </div>
    
        <footer>
            <p>© 2026 - TALENTUM RM. Todos os direitos reservados</p>
        </footer>

        </div> <!-- end container-->
    </body>
</html>